body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: #F7F7F7;
	box-sizing: border-box;
	font-size: 16px;
	position: relative;
}

header {
	background-color: #43D1AF;
	margin-bottom: 30px;
}

#photo {
	height: 70%;
	width: 70%;
}

#title {
	padding: 5% 0px 0px 0px;
}

a {
	color: black;
	text-decoration: none;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 15px;
}

.row-fluid {
	padding: 10px 10px 10px 10px;
	clear: both;
}

nav, .navbar, .nav, .navbar-right {
	background-color: #43D1AF;
	border: none;
}

.navbar-default .navbar-nav>li>a{
	/*color: #888788;*/
	color: black;
}

.navbar-default:hover .navbar-nav>li>a:hover{
	color: #888788;
}

.navbar-collapse {
	border: none;
}

.navbar-default .navbar-toggle {
	border: 2px solid black;
	float: left;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

#dot-nav{
	right: 10px;
	top: 60%;
	margin-top: -50px;
	height: 100px;
	z-index: 999;
}

#dot-nav li {
	position: relative;
	background-color: #e6e6e6;
	border:3px solid #e6e6e6;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}

#dot-nav li.active, #dot-nav li:hover {
	background-color: #43D1AF;
}

.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top: 50%;
    right:  0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #43D1AF;
}

ul {
	list-style-type: none;
}

#top_link.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
}
#top_link.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    left: 95%;
}

#down_button {
	border: 2px solid black;
	font-size: 0.8em;
	color: black;
	margin-left: 90px;
}

#down_button:hover {
	color: #888788;
	border: 2px solid #888788;
}

#sm_down_button {
	display: none;
}

#lang_selectors {
	text-align: right;
	font-size: 0.7em;
	cursor: pointer;
}

#fr:hover {
	color: #888788;
}

#en:hover {
	color: #888788;
}

footer {
	background-color: #e6e6e6;
	text-align: center;
	vertical-align: middle;
	padding: 50px;
	margin-top: 50px;
}

@media (min-width: 1200px) {
	#title {
		padding-left: 10%;
	}

	h1 {
		font-size: 3em;
		margin-bottom: 30px;
	}

	#down_button {
		margin-left: 130px;
	}
}


@media (max-width: 767px) {

	#top_link.affix {
		left: 90%;
	}

	#photo {
		height: 90%;
		width: 90%;
	}
}

@media (max-width: 664px) {
	#down_button {
		margin-left: 10px;
	}

	#title {
		padding-top: 0%;
	}
}

@media (max-width: 396px) {
	h1 {
		font-size: 2em;
	}

	#down_button {
		display: none;
	}

	#sm_down_button {
		display: block;
	}

	.container-fluid {
		padding-left: 0px;
	}
}
