body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: #F7F7F7;
	box-sizing: border-box;
	font-size: 16px;
	position: relative;
}
header {
	background-color: #43D1AF;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
p {
	margin: 0;
}
.right_align {
	text-align: right;
}
#photo {
	height: 70%;
	width: 70%;
}
#title {
	padding: 5% 0px 0px 0px;
}
a {
	color: black;
	text-decoration: none;
}
a:link, a:visited, a:active {
	text-decoration: none;
	color: black;
}
h1 {
	font-size: 2.5em;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 15px;
}
.row-fluid {
	padding: 10px 10px 10px 10px;
	clear: both;
}
nav, .navbar, .nav, .navbar-right {
	background-color: #43D1AF;
	border: none;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}
.glyphicon-download-alt {
	font-size: 1.5em;
	margin-left: 50px;
	margin-bottom: -20px;
	padding: 0;
}
#contact_nav {
	border-radius: 5px;
	border: 2px solid black;
	float: right;
	margin-top: -30px;
	margin-right: 10px;
}
#contact_nav:hover {
	color: #888788;
	border: 2px solid #888788;
}
#dot-nav{
	right: 10px;
	top: calc(50% - 50px);
	margin-top: 0;
	height: 100px;
	z-index: 999;
	display: none;
}
#dot-nav li {
	position: relative;
	background-color: #e6e6e6;
	border:3px solid #e6e6e6;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
	background-color: #43D1AF;
}
.my-tooltip + .tooltip.left > .tooltip-arrow{
    top: 50%;
    right:  0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #43D1AF;
}
ul {
	list-style-type: none;
}
#top_link.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
}
#top_link.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    left: 95%;
}
#down_button {
	border: 2px solid black;
	font-size: 0.8em;
	color: black;
	margin-left: 90px;
}
#down_button:hover {
	color: #888788;
	border: 2px solid #888788;
}
#sm_down_button {
	display: none;
}
#lang_selectors {
	text-align: right;
	font-size: 0.7em;
}
.lang_selector {
	cursor: pointer;
}
.lang_selector:hover {
	color: #888788;
}
.resume_section {
	margin-bottom: 50px;
}
.section_title {
	font-size: 1.5em;
	width: 100%;
	margin-bottom: 40px;
	padding-top: 10px;
	border-bottom: 2px solid #43D1AF;
}
.section_content {
	margin: 0 5% 0 5%;
}
.section_unit {
	margin-bottom: 20px;
}
.section_unit_title {
	font-style: italic;
	margin-bottom: 5px;
}
.subsection_title {
	margin-bottom: 20px;
}
li.skill {
	margin-bottom: 20px;
}
.glyphicon.glyphicon-star.filled {
	color: #43D1AF;
}
.glyphicon.glyphicon-star {
	color: #e6e6e6;
}
#comp_adj {
	text-align: center;
	font-style: italic;
}
.year {
	font-size: 0.7em;
}
.description {
	text-align: justify;
	text-justify: inter-word;
}
/**test*/

.circle-container {
	position: relative;
	width: 12em;
	height: 12em;
	padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border-radius: 50%;
	margin-top: 20px;
}
.circle-container span {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container img { display: block;width: 100%;}
.deg0 { transform: translate(6em); }  /*12em = half the width of the wrapper*/
.deg45 { transform: rotate(72deg) translate(6em) rotate(-72deg); }
.deg135 { transform: rotate(144deg) translate(6em) rotate(-144deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(216deg) translate(6em) rotate(-216deg); }
.deg315 { transform: rotate(288deg) translate(6em) rotate(-288deg); }
.center {padding-top: calc(2em - 16px);text-align: center;}
/*************/
footer {
	background-color: #e6e6e6;
	text-align: center;
	vertical-align: middle;
	padding: 70px;
	margin-top: 50px;
	height: 250px;
}
.copyright {
	font-size: 0.7em;
	margin-bottom: 0;
}
.link_img {
	margin-top: -1.5em;
}
.glyphicon-envelope {
	font-size: 2em;
	margin-left: 7px;
}
@media only screen and (min-width: 1200px) {
	#title {
		padding-left: 10%;
	}
	h1 {
		font-size: 4em;
		margin-bottom: 30px;
	}
	#down_button {
		margin-left: 185px;
		font-size: 1em;
	}
}
@media only screen and (max-width: 767px) {
	#top_link.affix {
		left: 90%;
	}
	#photo {
		height: 90%;
		width: 90%;
	}
}
@media only screen and (max-width: 664px) {
	#title {
		padding-top: 0%;
	}
	#down_button {
		display: none;
	}
	#sm_down_button {
		display: block;
	}
	#contact_nav {
		margin-top: -55px;
	}
}
@media only screen and (max-width: 396px) {
	h1 {
		font-size: 2em;
	}
	.container-fluid {
		padding-left: 0px;
	}
}
